/* ===================================================
                   Custom Fonts
===================================================== */
@font-face {
    font-family: 'Rex bold';
    src: url(../fonts/RexBold.otf);
}
@font-face {
    font-family: 'Rex light';
    src: url(../fonts/RexLight.otf);
}
@font-face {
    font-family: 'Rex bold inline';
    src: url(../fonts/RexBoldInline.otf);
}
@font-face {
    font-family: 'RussoOne Regular';
    src: url(../fonts/RussoOne-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: DIN;
    src: url(../fonts/DINLightRegular.otf);
}


/*=============================
    common rules
 ==============================*/
 body{
    font-family: 'DIN',sans-serif;
    font-size: 18px;
    color:#666;

}
*{
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}
h2,h1,h3,h4,h5{
    font-family: 'DIN';
    font-size: 35px;
    color:#4166b2;
    font-weight: bold;
}




 /*=============================
    common rules
 ==============================*/



 nav{
    background: #4267b2;
    background: #fff;
    padding: auto;
    margin-bottom: 620px;
    font-size: 20px;
    color:#666;
}
.atigh {
    margin-bottom: 478px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    color: #666;
}

.dropdown button{
    color:#666;
    font-size: 20px; 
    margin-right: 30px;
}
.nav-item {
    color:#666;
    font-size: 20px;
    margin-right: 30px;
    color: red;
}

.nav-item .nav-link {
    color:#666;

}
 .dropdown button{
    background:#fff;
    color:#666;
 }

.dropdown-menu {
    background:#4267b2;
    color:#FFF;
}
.dropdown-menu a {
    background:#fff;
    color:#666;
}




.dropdown .btn:hover,
.dropdown-menu:hover,
.dropdown-item:hover,


.nav-item :hover{
    color:#c1c9d3;
    color: #fff;
    background:#4267b2;
    


}
.nav-item a{
    color:red;
}


/*=============================
            slide
 ==============================*/
.slide .carousel-item .rig-40 {

    color: #012a5e;
    color:#fff;
    /*background: url('../images/Rig 43.JPG') no-repeat; */
    height: 600px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}

.slide .carousel-item .rig-45 {

    color: #012a5e;
    color:#fff;
     /* background: url('../images/RIG 45.JPG') no-repeat; */
    height: 600px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}

.slide .carousel-item .rig-62 {

    background:#c6c6c6;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/RIG 43 et 44 bis.JPG') no-repeat; */
    height: 600px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}

/*===================================
    solutions section
 ====================================*/
 .solutions{
    background:#FFF;

    padding-top: 10px;
    background: #e3e7ea;

}
.solutions .item .border:hover{
    /*font-size: 30px;
    font-weight: bolder; */
    background: #e3e7ea;

    
}
.solutions img{
    width: 100%;
    height: 300px;
    display: block;




 }
.solutions .item {
   padding-right: 20px;
   padding-left: 10px;
   margin-top: 12px;
   margin-bottom: 10px;




}
.solutions .item .border {
   

   background:#f3f3f2;


}


.solutions .item .title {

   text-align: center;
   margin-top: 10px;
   color: #4166b2;
}
.solutions .item .text {
   color:#141414;
   
   font-size: 20px;
   padding-left: 3px;
   padding-right: 3px;
   margin-left: 5px;

}

.solutions .item .link button {

  border-radius: 10px;
  margin-top: 20px;
  background: #4166b2;
  color: #FFF;
  font-size: 20px;
  
}
.solutions .item .link {
    padding-top: 20px;
    padding-bottom: 95px;



}

.item .border .link a{
    border-bottom: 2px solid #56A677;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(86, 166, 119);
    cursor: pointer;
    font-size: 1.25vw;
    color: #000;
    font-family: ubuntu;
    font-weight: bold;
 }


.link{
    display:block;
}



/*============================
  bottom footer
============================*/
.up-footer {

    color: #f9f9f9;
    
    background: #3d3d3d;
    padding-bottom: 11px;
    padding-top: 19px;
}
.up-footer  h4 {
    color:#4166b2;
}


.up-footer .nos-solutions a {
    text-decoration: none;
    color :#f9f9f9;

    font-size:16px;
    line-height: 30px;

}
.up-footer .nos-solutions a:hover {
    color:#e2e2eb;
}

.up-footer .Société a {
    text-decoration: none;
    color :#f9f9f9;
    font-size:20px;
    margin-bottom: 12px;

}
.contact .contact-icon  {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact .contact-icon  i {
    font-size: 30px;

}


/*============================
  bottom footer
============================*/
.bottom-foter{
    background: #363636;
    color:#f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-foter .sociale a {
    float: right;
    margin-right: 10px;
}

.bottom-foter .sociale .icons {
    color:#f9f9f9;


}
.bottom-foter .sociale .icons:hover {
    color:#e2e2eb;


}

/*============================
       why
============================*/


#why-besi  {
    color: #012a5e;
    color:#fff;
    background: url('../images/whybesi.png') no-repeat;
    /*background:#edf1f5;*/
    min-height: 335px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;



}
#why-besi h2 {
    padding-bottom: 45px;
    color:#141414;
    color:#fff;
    font-weight: bolder;


}


/* ===================================================
                        clients
===================================================== */
#clients{
    background-color: #f4f4f3;
    padding-bottom: 20px;
    padding-top: 10px;
}
#clients h2{
    font-size:38px;

}
#clients h2 span{
    font-size: 28px;

}

#clients .thumbnail img{
    vertical-align: top;
    width :101px;
    height: 100px;
    margin-top:20px;
    
    border-radius: 3px;

}
#clients p{
    font-size: 28px;
}


/*=============================
          services page
 ==============================*/

.slide-services img{

    width: 100%;
    margin-top: 70px;
    color: #012a5e;
    color:#fff;

    height: 375px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}


 .services-description{
     padding-top: 30px;
     padding-bottom: 50px;
    background: #f3f4f6;
 }
 .mix-services{
    padding-top: 30px;
    padding-bottom: 50px;

 }
 .mix-services .box {
     margin-top: 10px
 }


 /*=============================
          about  page
 ==============================*/

.slide-about img {
  width: 100%;
  height: 475px;
}


 .about-description{
     padding-top: 30px;
     padding-bottom: 50px;
    background: #f3f4f6;
 }
 .mix-services{
    padding-top: 30px;
    padding-bottom: 50px;

 }


 /*=============================
          contact  page
 ==============================*/

 .slide-contact img {

    width: 100%;
    margin-top: 70px;
    color: #012a5e;
    color:#fff;
    background: url('../images/pexels-photo.jpg') no-repeat;
    height: 475px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.contact-slide{
    background: #f3f4f6;
}
.contact-slide .container{
    background: #4166b2;
    padding-top: -10px;
    
}
.contact-slide .container h1{
    color:#fff;
    margin-left: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}



 .nktt-contact{
     padding-top: 30px;
     padding-bottom: 50px;
    background: #f3f4f6;
 }
 .zrtt-contact{
    padding-top: 30px;
    padding-bottom: 50px;
   background: #f3f4f6;
}
 .mix-contact{
    padding-top: 30px;
    padding-bottom: 50px;

 }



 /*=============================
          rig  page
 ==============================*/


 .slide-rig40-41 img {

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}

.slide-rig42 img{

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.slide-rig43  img{

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.slide-rig44 img {

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.slide-rig45 img{

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.slide-rig60 img{

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
.slide-rig61 img {

    width:100%;
    margin-top:30px;
    color: #012a5e;
    color:#fff;
    /*background: url('../images/about.jpg') no-repeat; */
    height: 495px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
}
